### ONE HOT ENCODING

In [1]:
df=pd.read_csv("C:\\Users\\Pratik1\Desktop\dataset\\data's\\train.csv")  #TITANIC DATASET
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [2]:
df=pd.read_csv("C:\\Users\\Pratik1\Desktop\dataset\\data's\\train.csv",usecols=['Sex']) #using only 'sex' column
df.head()

      Sex
0    male
1  female
2  female
3  female
4    male

In [3]:
pd.get_dummies(df).head()    #applying one hot,creating a dummies

   Sex_female  Sex_male
0           0         1
1           1         0
2           1         0
3           1         0
4           0         1

In [5]:
pd.get_dummies(df,drop_first=True).head()  #dropping first column as only 2 are there

   Sex_male
0         1
1         0
2         0
3         0
4         1

In [7]:
df=pd.read_csv("C:\\Users\\Pratik1\Desktop\dataset\\data's\\train.csv",usecols=["Embarked"]) #use embarked column
df

    Embarked
0          S
1          C
2          S
3          S
4          S
..       ...
886        S
887        S
888        S
889        C
890        Q

[891 rows x 1 columns]

In [8]:
df['Embarked'].unique() #check unique categories

array(['S', 'C', 'Q', nan], dtype=object)

In [10]:
df.dropna(inplace=True)       #doing encoding so dropped nan values #permanently

In [11]:
df.head() #top5

  Embarked
0        S
1        C
2        S
3        S
4        S

In [13]:
pd.get_dummies(df,drop_first=True).head()    #class c is dropped i.e=n-1 always

   Embarked_Q  Embarked_S
0           0           1
1           0           0
2           0           1
3           0           1
4           0           1

### FOR MULTIPLE CATEGORIES ->ONE HOT ENCODING

In [16]:
df=pd.read_csv("mercedes.csv")  #load mercdes dataset
df

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,8405,107.39,ak,s,as,c,d,aa,d,q,...,1,0,0,0,0,0,0,0,0,0
4205,8406,108.77,j,o,t,d,d,aa,h,h,...,0,1,0,0,0,0,0,0,0,0
4206,8412,109.22,ak,v,r,a,d,aa,g,e,...,0,0,1,0,0,0,0,0,0,0
4207,8415,87.48,al,r,e,f,d,aa,l,u,...,0,0,0,0,0,0,0,0,0,0
4208,8417,110.85,z,r,ae,c,d,aa,g,w,...,1,0,0,0,0,0,0,0,0,0

In [41]:
df=pd.read_csv("mercedes.csv",usecols=["X0","X1","X2","X3","X4","X5","X5","X6"])  #using only top 7 columns

In [18]:
df.head()

   X0 X1  X2 X3 X4 X5 X6
0   k  v  at  a  d  u  j
1   k  t  av  e  d  y  l
2  az  w   n  c  d  x  j
3  az  t   n  f  d  x  l
4  az  v   n  f  d  h  d

In [19]:
df["X0"].value_counts() #counting categories

z     360
ak    349
y     324
ay    313
t     306
x     300
o     269
f     227
n     195
w     182
j     181
az    175
aj    151
s     106
ap    103
h      75
d      73
al     67
v      36
af     35
m      34
ai     34
e      32
ba     27
at     25
a      21
ax     19
am     18
aq     18
i      18
u      17
aw     16
l      16
ad     14
k      11
au     11
b      11
r      10
as     10
bc      6
ao      4
c       3
aa      2
q       2
g       1
ac      1
ab      1
Name: X0, dtype: int64

In [20]:
len(df['X0']) #length of x0

4209

picking 10 most frequent categories

In [22]:
for i in df.columns:
    print(len(df[i].unique()))         #check unique in each of 7 columns

47
27
44
7
4
29
12

In [28]:
df.X1.value_counts()   #x1 value counts

aa    833
s     598
b     592
l     590
v     408
r     251
i     203
a     143
c     121
o      82
w      52
z      46
u      37
e      33
m      32
t      31
h      29
f      23
y      23
j      22
n      19
k      17
p       9
g       6
d       3
ab      3
q       3
Name: X1, dtype: int64

In [25]:
df.X1.value_counts().sort_values(ascending=True).head() #sorting as ascending=True

q     3
d     3
ab    3
g     6
p     9
Name: X1, dtype: int64

In [27]:
df.X1.value_counts().sort_values(ascending=False).head(10)   #picking top 10

aa    833
s     598
b     592
l     590
v     408
r     251
i     203
a     143
c     121
o      82
Name: X1, dtype: int64

In [30]:
lst_10=df.X1.value_counts().sort_values(ascending=False).head(10).index  #sort by descending
lst_10

Index(['aa', 's', 'b', 'l', 'v', 'r', 'i', 'a', 'c', 'o'], dtype='object')

In [31]:
lst_10=list(lst_10)  #type casting
lst_10

['aa', 's', 'b', 'l', 'v', 'r', 'i', 'a', 'c', 'o']

In [32]:
for categories in lst_10:
    df[categories]=np.where(df["X1"]==categories,1,0)

In [40]:
lst_10.append("X1")
df[lst_10].head()         #only top 10 other are skipped

   aa  s  b  l  v  r  i  a  c  o X1 X1 X1 X1 X1 X1
0   0  0  0  0  1  0  0  0  0  0  v  v  v  v  v  v
1   0  0  0  0  0  0  0  0  0  0  t  t  t  t  t  t
2   0  0  0  0  0  0  0  0  0  0  w  w  w  w  w  w
3   0  0  0  0  0  0  0  0  0  0  t  t  t  t  t  t
4   0  0  0  0  1  0  0  0  0  0  v  v  v  v  v  v